.quart{
    padding: 3%;
}
.quartimg{
    width: 100%;
    height: auto;
}
.quartext{
    padding-top: 10%;
    padding-right: 10%;
}
.quartitre{
    font-size: 45px;
    font-weight: lighter;
}
.img2{
    height: auto;
}
.bleu{
    position: absolute;
    z-index: -1;
    height: 300px;
    width: 600px;
    background-color: lightblue;
    opacity: 70%;
}
@media screen and (max-width:769px) {
    .bleu{
        display: none;
    }
    .quart, .img2 {
        padding: 0;
        margin-bottom: 5%;
    }
    .img2{
        height: 250px;
    }
}
@media screen and (min-width:769px){
    .img1{
        z-index: 10;
    }
    .img2{
        height: 500px;
        position: absolute;
        z-index: 20;
        padding: 5%;
    }
}